{% extends 'blog/list.html' %}

{% block header %}{% endblock %}

{% block ifarticle %}
    {% for article in object_list %}
        <div class="post-preview">
            <a href="{% url 'blog:detail' article.slug %}">
              <h2 class="post-title">
                {{article.title}}
                {% if article.is_special %}
                  <span class="badge badge-danger" style="font-size: 14px">ویژه</span>
                {% endif %}
              </h2>
              <h3 class="post-subtitle">
                {{article.description|striptags|truncatewords:30}}
              </h3>
            </a>
            <p class="post-meta">نوشته شده توسط
              <a href="{% url 'blog:author' article.author %}">{{article.author.get_full_name}}</a>
              {{article.jpublish}}</p>
            <div>
              {% for cat in article.category.active %}
                <a href="{% url 'blog:category' cat.slug %}">#{{cat.title}}</a>
              {% endfor %}
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}

{% block previous_page_url %}
    {% if page_obj.has_previous %}
        <a class="btn btn-primary float-right ml-3" href="{% url 'blog:home' page_obj.previous_page_number %}">پست های جدید تر &rarr;</a>
    {% endif %}
{% endblock %}

{% block next_page_url %}
    {% if page_obj.has_next %}
        <a class="btn btn-primary float-right" href="{% url 'blog:home' page_obj.next_page_number %}">پست های قدیمی تر &larr;</a>
    {% endif %}
{% endblock %}