{% extends 'blog/base.html' %}

{% load static %}
{% load base_tags %}
{% load humanize %}

{% block custom-header %}
<link href="custom.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %} | {{article.title}} {% endblock %}

{% block main %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{article.thumbnail.url}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{article.title}}</h1>
              {% if article.is_special %}
                <span class="badge badge-danger" style="font-size: 14px">ویژه</span>
              {% endif %}
            <!-- <time>{{article.jpublish}}</time> -->
            <time>{{article.publish|naturaltime}}</time>
            <div>بازدیدها: {{article.hits.count}}</div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto text-justify">
        {% popular_articles %}
          <!-- {% if article.is_special %}
            {% if user.is_authenticated and user.is_special_user or user == article.author or user.is_superuser %}
              {{article.description|safe|linebreaks}
            {% else %}
              <p>این مقاله ویژه است و برای مشاهده ی آن باید <a href="#"> اشتراک ویژه</a> تهیه نمایید.</p>
            {% endif %}
          {% else %}
            {{article.description|safe|linebreaks}}
          {% endif %} -->
          {{article.description|safe|linebreaks}}
        </div>
      </div>
    </div>
  </article>
{% endblock %}  