{% extends 'blog/list.html' %}

{% block header %}
    <h3 class="alert alert-primary text-center">دسته بندی: {{category.title}}</h3>
{% endblock %}

{% block previous_page_url %}
    {% if articles.has_previous %}
        <a class="btn btn-primary float-right ml-3" href="{% url 'blog:category' category.slug articles.previous_page_number %}">پست های جدید تر &rarr;</a>
    {% endif %}
{% endblock %}

{% block next_page_url %}
    {% if articles.has_next %}
        <a class="btn btn-primary float-right" href="{% url 'blog:category' category.slug articles.next_page_number %}">پست های قدیمی تر &larr;</a>
    {% endif %}
{% endblock %}